[Desktop Entry]
Type=Application
Exec=sudo /usr/bin/calamares
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Calamares Installer
Comment=Start Calamares Installer

